html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: $off-black;
  font-family: "GilroyRegular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "GilroyBold";
  margin: 0;
  font-size: clamp(36px, 6vw, 48px);
}

h2 {
  font-family: "GilroyBold";
  margin: 0;
  font-size: clamp(28px, 5vw, 36px);
}

h3 {
  font-family: "GilroyBold";
  margin: 0;
  font-size: clamp(24px, 4vw, 32px);
}

h4 {
  font-family: "GilroyBold";
  margin: 0;
  font-size: clamp(20px, 3vw, 26px);
}

h5 {
  font-family: "GilroyBold";
  margin: 0;
  font-size: clamp(18px, 1.5vw, 22px);
}

p {
  font-family: "GilroyRegular";
  margin: 0;
  font-size: clamp(14px, 1vw, 18px);
  .p2 {
    font-size: clamp(12px, 1vw, 14px);
  }
}

a {
  text-decoration: none;
  color: $off-black;
  &.nav-link {
    &:hover {
      color: $colour-one;
    }
  }
}

// Container
.container {
  max-width: clamp(200px, 87.5vw, 1248px);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Font colour
.font {
  &-colour-one {
    color: $colour-one;
  }
  &-colour-two {
    color: $colour-two;
  }
}

// Button
.btn {
  border: none;
  outline: none;
  background: none;
  font-family: "GilroyRegular";
  font-size: clamp(14px, 1vw, 20px);
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    filter: brightness(90%);
  }
  &-primary {
    background-color: $colour-one;
    color: #fff;
  }
}

// Logo
.icon {
  width: 30px;
  &.sm {
    width: 16px;
  }
}