@font-face {
  font-family: "GilroyRegular";
  font-weight: normal;
  src: url(../../public/fonts/Gilroy-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "GilroyBold";
  font-weight: bold;
  src: url(../../public/fonts/Gilroy-Bold.woff2) format("woff2");
}