// COLOURS
$colour-one: #22B573;
$colour-two: #4D8BE3;
$colour-three: #7DBDF1;
$colour-four: #ECF9FF;
$off-black: #333333;
$off-grey: #969696;

// BREAKPOINTS
$small-mobile-screen-width: 576px;
$mobile-screen-width: 767px;