.hero {
  padding: 60px 0;
  background-color: $colour-one;
  &__container {
    display: flex;
    justify-content: center;
    color: #fff;
  }
}

@media (max-width: $mobile-screen-width) {
  .hero {
    margin-top: 80px;
  }
}