.sidenav {
  &-container {
    position: sticky;
    top: 30px;
    h4 {
      margin-bottom: 30px;
      cursor: pointer;
    }
  }
  &-menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  &-link {
    transition: all ease 0.2s;
    display: flex;
    gap: 0 30px;
    justify-content: space-between;
    padding: clamp(15px, 1.5vw, 20px) clamp(20px, 1.5vw, 30px);
    box-shadow: 0 0 6px 1px #96969650;
    border-radius: 12px;
    .icon {
      transition: all ease 0.1s;
    }
    &:hover {
      color: $colour-two;
      box-shadow: 0 0 6px 3px #96969650;
      .icon {
        transform: translateX(5px);
      }
    }
  }
}

@media (max-width: $mobile-screen-width) {
  .sidenav {
    &-container {
      position: relative;
      top: 0;
      gap: 0;
      box-shadow: 0 0 6px 1px #96969650;
      border-radius: 12px;
      h4 {
        margin-bottom: 0;
        padding: clamp(15px, 2vw, 20px) clamp(20px, 2vw, 30px);
        display: flex;
        justify-content: space-between;
        &::after {
          content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"/></svg>');
        }
      }
    }
    &-menu {
      gap: 15px;
      &.hidden {
        height: 0;
        overflow: hidden;
      }
    }
    &-link {
      box-shadow: none;
      border-radius: 0;
      &:hover {
        box-shadow: none;
      }
    }
  }
}